@page "/configuracion"

<h3>Configuracion</h3>

<div class="contenedor">
    <div class="tarjeta">
        <a href="provincias">
        <img src="/img/provincias.jpg" alt="Foto Configuracion">
        <h4>Provincias</h4>
        <p></p>
        <p>Ver, añadir, modificar y borrar provincias</p>
        </a>
    </div>
    <div class="tarjeta">
        <a href="vacunas">
        <img src="/img/covid.jpeg" alt="Foto Configuracion">
        <h4>Vacunas</h4>
        <p></p>
        <p>Ver, añadir, modificar y borrar vacunas</p>
        </a>
    </div>
</div>
